<h1>Menu Inicial</h1>

<br>
<br>
<br>

<div class="container">
    <div class="col-xs-12">
            <div class="example-button-row">
                    <a href="/paglog">
                        <button mat-raised-button color="warn">Realizar Login</button>
                    </a>
                    
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="example-button-row">
                    <a href="pagreg"><button mat-raised-button color="primary">Quero me Cadastrar!</button></a>
                    
            </div>
                  
    </div>
</div>
