h1 {
    text-align: center;
    padding: 50px;
}

.container {
    text-align: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  width: 25%;
  text-align: center;
}
