<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Página de Login</h1>
    </div>
  </div>
</div>
<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Digite seu RG">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Digite seu CPF">
    </mat-form-field>
  </form>
</div>
<div class="example-button-row">
  <a routerLink="/paguser">
    <button mat-raised-button color="warn">Login</button>
  </a>
</div>