<h5>Como deseja modificar?</h5>
<div class="container">
    <div class="col-xs-12">
            <div class="example-button-row">
                    <a href="/pagvot">
                        <button mat-raised-button color="warn"></button>
                    </a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagapu"><button mat-raised-button color="primary">Adicionar Votante</button></a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagcriar">
                        <button mat-raised-button color="warn">Retirar Votante</button>
                    </a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagmod"><button mat-raised-button color="primary">Adicionar Opção de Voto</button></a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagmod"><button mat-raised-button color="warn">Retirar Opção de Voto</button></a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagmod"><button mat-raised-button color="primary">Alterar Data do Inicio</button></a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagmod"><button mat-raised-button color="warn">Alterar Data do Fim</button></a>
                    
            </div>
    </div>
</div>