<div class="container">
        <div class="row">
                <div class="col-xs-12">
                        <h1>Página de Voto</h1>
                </div>
        </div>
</div>

<h5>Digite o nome da votação, seu cpf e a opção de voto em que deseja votar:</h5>

<div class="container">
        <form class="example-form" [formGroup]="basicForm">
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Votação" formControlName="nome"> 
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cpf" formControlName="cpf">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Opção de Voto" formControlName="voto">
                </mat-form-field>
        </form>
</div>

<div class="example-button-row">
        <!-- <a href="/paguser"> -->
                <button mat-raised-button color="warn" (click)="enviarVoto()">Votar</button>
        <!-- </a> -->
</div>