<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Página de Criar Votações</h1>
      </div>
    </div>
  </div>
  
  
  <h5>Preencha as datas necessárias para a votação:</h5>


<div class="container">
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Data do Inicio">
    </mat-form-field>
</form>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Data do Fim">
    </mat-form-field>
</form> 
</div>

<div class="example-button-row">
    <a href="/#">
      <button mat-raised-button color="warn">Criar Votação</button>
    </a>
  </div> 