<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Página de Criar Votações</h1>
    </div>
  </div>
</div>


<h5>Preencha os campos a seguir com os dados necessários para a votação:</h5>

<div class="container">
  <!-- <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nome da Votação">
                    </mat-form-field>
            </form>
            <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="CPF dos Votantes">
                    </mat-form-field>
            </form>
            <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Opções de Voto">
                    </mat-form-field>
            </form>
 -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome da Votação">
    </mat-form-field>
  </form>
  <form class="example-form" [formGroup]="basicForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Opções de Voto" formControlName="option">
    </mat-form-field>
  </form>
  Opcoes:
  <p *ngFor="let option of opcoes">
    {{option}}
  </p>
  </div>
  <div class="example-button-row">
    <!-- <a href="/paguser"> -->
      <button mat-raised-button color="warn" (click)="inputOption1()">Adicionar Opção de Voto</button>
    <!-- </a> -->
  </div> 
  <div class="container">
  <form class="example-form" [formGroup]="basicForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Votantes" formControlName="option1">
    </mat-form-field>
  </form>
  Votantes:
  <p *ngFor="let option1 of votantes">
    {{option1}}
  </p>
</div>

<br>
<div class="example-button-row">
  <!-- <a href="/paguser"> -->
    <button mat-raised-button color="warn" (click)="inputOption2()">Adicionar Votante</button>
  <!-- </a> -->
</div> 
<hr>
<div class="example-button-row">
  <a href="/pagcriar2">
    <button mat-raised-button color="warn">Avançar</button>
  </a>
</div> 