<h1>Página do Usuário</h1>

<br>

<h5>O que deseja fazer?</h5>
<div class="container">
    <div class="col-xs-12">
            <div class="example-button-row">
                    <a href="/pagvot">
                        <button mat-raised-button color="warn">Votar</button>
                    </a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagapu"><button mat-raised-button color="primary">Apurar Resultados</button></a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagcriar">
                        <button mat-raised-button color="warn">Criar uma Votação</button>
                    </a>
                    
            </div>
            <br>
            <div class="example-button-row">
                    <a href="/pagmod"><button mat-raised-button color="primary">Modificar uma Votação</button></a>
                    
            </div>
    </div>
</div>
